@import '../../static/iconfont/iconfont.css';


.background{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #90B1A0;
}
.container{
    display: flex;
    position: absolute;
    top: 5%;
    left: 15%;
    width: 70%;
    height: 90%;
    min-width: 800px;
    background-color: #2B9E93;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}