.side-nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    padding: 20px 0;
    background-color: #2C9E92;
}

.side-nav-bar .avatar{
    position: relative;
    padding-top: 20px;
}

.side-nav-bar .avatar img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.side-nav-bar .avatar .dot{
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #5ED45C;
    border-radius: 50%;
    right: 5px;
    bottom: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.side-nav-bar .btns li{
    position: relative;
    padding-bottom: 20px;
    cursor: pointer;
}

.side-nav-bar .btns li i{
    font-size: 30px;
    color: #B5E2DF;
}

.side-nav-bar .btns li p{
    display: block;
    position: absolute;
    left: 46px;
    bottom:22px;
    padding: 6px;
    background-color: #324241;
    opacity: 0.8;
    font-size: 12px;
    color: #B5E2DF;
    border-radius: 5px;
}

.side-nav-bar .btns li:nth-child(1) p,.side-nav-bar .btns li:nth-child(2) p,.side-nav-bar .btns li:nth-child(5) p{
    width: 48px;
}
.side-nav-bar .btns li:nth-child(3) p,.side-nav-bar .btns li:nth-child(4) p{
    width: 24px;
}
.side-nav-bar .btns li p::after{
    content: "";
    position: absolute;
    left: -10px;
    bottom: 6px;
    display: block;
    width: 0;
    height: 0;
    border: 6px solid;
    border-color: transparent #324241 transparent transparent;
    opacity: 0.8;
}
